
@{
    ViewData["Title"] = "Remove A Topic";
}

<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var topic in ViewBag.topics)
    {
        <input type="checkbox" name="topicIds" id="@topic.ID" value="@topic.ID" />
        <label for="@topic.ID">@topic.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Topic(s)" />
</form>

